.form {
  font-family: "Poppins", sans-serif;
  display: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;

  margin-left: 800px;
  margin-right: 800px;
  margin-top: 70px;
  border-radius: 10px;
  border: 5px solid rgb(151, 170, 43);
  background-color: rgba(63, 75, 48, 0.8);
}

.input {
  font-size: 15px;
  border-radius: 5px;
  background-color: rgba(63, 75, 48, 0.5);
}

.button {
  border-radius: 5px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background-color: rgba(184, 195, 25, 0.3);
}

.button:active {
  background-color: rgb(44, 143, 33);
  box-shadow: 3px 3px #070707;
  transform: translateY(4px);
}
